<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Shopping </title>
    <meta name="description" content="E-Commerce shop">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/login/login.css">
    <link rel="icon" type="image/svg" href="/images/logo.svg" />
    <script src=""></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header class="header">
        <img class="header__logo" src="/images/logo.svg" alt="Website Log">
    </header>

    <nav class="navbar">     
        <a class="navbar__menu" href="/products/1"> Products </a>
        <a class="navbar__menu" href="/login"> Login </a>
        <a class="navbar__menu" href="/register"> Register </a>
    </nav>
    
    <main class="main">
        <form class="main__form" action="/login" method="post">
            <label class="main__form-label" for="email"> Email </label>
            <input class="main__form-input" type="email" id="email" name="email" required>

            <label class="main__form-label" for="password"> Password </label>
            <input class="main__form-input" type="password" id="password" name="password" required minlength="6">

            <div>
                <button class="main__form-submit" type="submit"> Login </button>
            </div>

            {{#if error}}
                <p class="main__error">{{error}}</p>
            {{/if}}
        </form>
    </main>

    <footer class="footer">
        <p class="footer__author"> Web Made by Alvaro Reina </p>
    </footer>
</body>

</html>
