<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Shopping </title>
    <meta name="description" content="E-Commerce shop">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/product/product.css">
    <link rel="icon" type="image/svg" href="../images/logo.svg" />
    <script src="/js/product.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header class="header">
        <img class="header__logo" src="../images/logo.svg" alt="Website Log">
    </header>

    <nav class="navbar">     
        <a class="navbar__menu" href="/products/1"> Products </a>
        <a class="navbar__menu" href="/login"> Login </a>
        <a class="navbar__menu" href="/register"> Register </a>
        <a class="navbar__menu" href="/cart"> Cart </a>
    </nav>

    <main class="main">
        {{#if this.product}}
        <div class="main__product">
            <p class="main__product-name"> {{ this.product.name }} </p>
            <img class="main__product-image" src="{{ this.product.image }}">
            <p class="main__product-price"> Price: {{ this.product.price }} &euro;</p>
            <p class="main__product-description-title"> Description </p>
            <p class="main__product-description"> {{ this.product.description }}</p>
        </div>
        {{/if}}
        

        <div class="main__button-container">
            <button class="main__button-add" id="button_add"> Add to Cart </button>
        </div>
    </main>

    <footer class="footer">
        <p class="footer__author"> Web Made by Alvaro Reina </p>
    </footer>
</body>

</html>
