@import '../global';

.main {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: $content_font;
        font-size: 22px;

        @include desktop {
            font-size: 24px;
        }
    }

    &__form-label {
        font-weight: bold;
        margin-top: 10px;
    }

    &__form-input {
        @extend %input;
        width: 250px;
        margin-bottom: 10px;

        @include landscape-mobile {
            width: 325px;
        }

        @include tablets {
            width: 400px;
        }

        @include desktop {
            width: 400px;
        }
    }

    &__form-submit {
        @extend %button;
        width: 125px;
        margin-top: 30px;

        @include landscape-mobile {
            width: 175px;
        }

        @include tablets {
            width: 175px;
        }

        @include desktop {
            width: 175px;
        }
    }

    &__error {
        font-family: $content_font;
        font-size: 22px;
        color: red;
        font-weight: bold;
    }
}
